{% extends "base.html.j2" %}
{% block greetings %}
<p>
Le ticket n° {{ ticket_num_link }} a été attribué au groupe ##ticket.assigntogroups##
</p>
{% endblock %}
{% block main_content %}
<p><strong>Titre</strong> : ##ticket.title##</p>
<p><strong>Demandeur</strong> : ##FOREACHauthors####author.name####ENDFOREACHauthors##<p>
<hr/>
##ticket.description##
{% endblock %}
