<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
  <META http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>{{ title }}</title>
    <style type='text/css'>
    body {
      font-family: sans-serif;
      padding: 20px;
      font-size: 0px; /* pour masquer la signature et les balises =-=-=-
      et =_=_=_ générées automatiquement par GLPI (https://forum.glpi-project.org/viewtopic.php?id=132624)*/
      /*max-width: 600px;*/
    }
    .sep {
      color: #666;
      font-style: italic;
      font-size: small;
    }
    .sep-marker {
      text-decoration: line-through;
    }
    .hide {
      color: white;
    }
    .content {
      font-size: 10px;
      /* margin-top: 30px; */
      margin-bottom: 30px;
    }
    .secondary {
      color: #666;
      padding-top: 30px;
      font-size: 16px;
      line-height: 1.3em;
    }
    .primary {
      /*
      box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
      */

      padding-top: 15px;
      font-size: 16px;
      line-height: 1.3em;
    }

    a {
      color: #5f76a7;
    }
    .nota-bene {
      margin-top: 15px;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 0.9em;
    }

    </style>
  </head>
  <body>
<!-- COPIER LE TEXTE À PARTIR D'ICI POUR LE METTRE SUR GLPI  -->

    <p class="sep">
      <span class="sep-marker"><span class="hide">=======</span></span> Pour répondre par courriel, écrivez au dessus de cette ligne <span class="sep-marker"><span class="hide">=======</span></span>
    </p>

  {% if warning %}
    <p class="secondary">
      {{ warning }}
    </p>
  {% endif %}

    <table class="content" >

      <tr>
        <td class="secondary">
          {% block greetings %}{% endblock %}
        </td>
      </tr>

      <tr>
        <td class="primary">
          {% block main_content %}{% endblock %}
        </td>
      </tr>

      <tr>
        <td>
          {% block nota_bene %}{% endblock %}
          </td>
        </tr>
        <tr>
          <td class="secondary">
            {{ footer }}
          </td>
        </tr>

      </table>
      <p class="sep">
        <span class="sep-marker"><span class="hide">=======</span></span> Pour répondre par courriel, écrivez en dessous de cette ligne <span class="sep-marker"><span class="hide">=======</span></span>
      </p>

<!-- COPIER LE TEXTE JUSQU'ICI POUR LE METTRE SUR GLPI  -->
    </body>
    </html>
