{% extends "base.html.j2" %}
{% block main_content %}
<p>
Votre demande «&nbsp;##ticket.title##&nbsp;» a été prise en compte sous le n°{{ ticket_num_link }}.
</p>
{% endblock %}

{% block nota_bene %}
<p class="nota-bene">Vous pouvez compléter votre demande en répondant à ce mail</p>
{% endblock %}
