{% extends "base.html.j2" %}
{% block greetings %}
<p>Le ticket n°{{ ticket_num_link }} a été modifié.</p>
{% endblock %}
{% block main_content %}
##FOREACH LAST 1 followups##
##followup.description##
<p>—</p>
<p>##followup.author##</p>
##ENDFOREACHfollowups##
{% endblock %}

{% block nota_bene %}
<p class="nota-bene">Vous pouvez compléter votre demande en répondant à ce mail</p>
{% endblock %}
