{% extends "base.html.j2" %}
{% block main_content %}
<p>
Selon l'équipe technique, votre ticket n°{{ ticket_num_link }}&nbsp;: «&nbsp;##ticket.title##&nbsp;» a été traité.
</p>
<p>Néanmoins, vous pouvez répondre à ce mail pour le réactiver.</p>
<p>Sans réponse de votre part, ce ticket sera clôturé dans 3 jours.</p>
{% endblock %}
