/*CSS à placer dans le champ CSS des gabarits de notification GLPI*/

body {
  font-family: sans-serif;
  padding: 20px;
  font-size: 0px; /* pour masquer la signature et les balises =-=-=-
  et =_=_=_ générées automatiquement par GLPI (https://forum.glpi-project.org/viewtopic.php?id=132624)*/
}
